<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- www.phpied.com/conditional-comments-block-downloads/ -->
        <!-- Always force latest IE rendering engine
             (even in intranet) & Chrome Frame
             Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <!--  Mobile Viewport Fix
              j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
              device-width: Occupy full width of the screen in its current orientation
              initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
              user-scalable = yes allows the user to zoom in -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{=response.title or request.application}}</title>
        <!-- http://dev.w3.org/html5/markup/meta.name.html -->
        <meta name="application-name" content="{{=request.application}}">
        <!-- Speaking of Google, don't forget to set your site up:
             http://google.com/webmasters -->
        <meta name="google-site-verification" content="">
        <!-- include stylesheets -->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/-->
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
        <!-- All JavaScript at the bottom, except for Modernizr which enables
             HTML5 elements & feature detects -->
        <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

        <!-- CUSTOM -->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />

        <link rel="stylesheet" href="{{=URL('static','css/mystyles.min.css')}}">
        <link rel="stylesheet" href="{{=URL('static','css/slidebar.css')}}">

        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>


        <!-- web2py stuff -->
        <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes calendar.js/.css and web2py.js -->

    {{block head}}{{end}}
    </head>
    <body>
        <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

        <!-- Navbar ======================================= -->
    {{block navigation}}
        <nav class="navbar" role="navigation" aria-label="dropdown navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" id="navbartoggler">
                        &#9776;
                    </a>
                </div>
            </div>
        </nav>
    {{end}}
        <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
        <!-- Main ========================================= -->
        <!-- Begin page content -->
        <section class="section" id="main">
            <div class="container">
            {{include}}
            </div>
        </section>

    {{block footer}} <!-- this is default footer -->
        <footer class="footer container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                    <div id="poweredBy" class="pull-right">
                        Created by
                        <a href="https://trialandsuccess.nl/">Trial and Success</a>
                    </div>
                </div>
            </div>
        </footer>
    {{end}}
        <!-- The javascript =============================== -->
        <script src="{{=staticjs('js-templating.js')}}"></script>
        <script src="{{=staticjs('spotify-web-api.js')}}"></script>
        <script src="{{=staticjs('blockui.js')}}"></script>
        <script src="{{=staticjs('slideout.js')}}"></script>
        <script src="{{=staticjs('bulma-toast.js')}}"></script>
        <!-- https://malsup.github.io/jquery.blockUI.js -->

    {{block page_js}}{{end page_js}}

        <script type="text/html" id="notification-template">
                <button class="delete"></button>
                <p data-content="content"></p>
        </script>

        <div id="notification-holder">
        </div>
        <script>
        {{=notify.show()}}
        </script>
    </body>
</html>